<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="category">
            <h2><span>Category</span> {{category.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Devoxx</span></dt>
                <dd>
                    <span>{{category.devoxx}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{category.description}}</span>
                </dd>
                <dt><span>Sort Order</span></dt>
                <dd>
                    <span>{{category.sortOrder}}</span>
                </dd>
                <dt><span>Date Added</span></dt>
                <dd>
                    <span>{{category.dateAdded}}</span>
                </dd>
                <dt><span>Date Modified</span></dt>
                <dd>
                    <span>{{category.dateModified}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{category.status}}</span>
                </dd>
                <dt><span>Parent</span></dt>
                <dd>
                    <div *ngIf="category.parent">
                        <a [routerLink]="['/category', category.parent?.id, 'view']">{{category.parent?.id}}</a>
                    </div>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <span *ngFor="let product of category.products; let last = last">
                        <a [routerLink]="['/product', product?.id, 'view' ]">{{product.title}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/category', category.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
